$base-color: #c6538c;
$height: 100px;
.root {
}
.Bombastic {
  position: absolute;
  width: 200px;
  height: $height;
  font-size: 50px;
  line-height: 50px;
  font-weight: bolder;
  font-style: italic;
  text-align: center;
  direction: ltr;
  background-color: $base-color;
  border-radius: 20px;
  box-shadow: 4.95px 4.95px 51px black;
  opacity: 0.6;
  cursor: pointer;
  transition: ease-in 10s;
  font-family: Didot, serif;
  &:disabled {
    &:active {
    }
    &:active {
    }
  }
}

.Bombastic:hover {
  height: calc(5 * ($height));
}

div {
  color: red;
  position: relative;
  font-family: Arial, sans-serif;
  font-size: 40px;
}

* {
  font-size: 16px !important;
}

.extra {
}
.extra2 {
}
.extra3 {
}
.extra4 {
}
.extra5 {
}
.newCLASS {
}
.dxv {
}
.dsfsdfsd {
}
.asdasdasdsadasdasdasdasdasdsadasdasd {
  &:active:disabled:focus:hover {
  }
  &:active:disabled:focus:hover {
  }
  &:active:disabled:focus:hover {
  }
}
